.marginAuto {
    margin: auto;
}

.dt {
    display: table;
}

h3, h5, span, li, p {
    width: fit-content;
}

.whiteOutline{
    text-shadow: -1px 1px 2px #ffffff,
				  1px 1px 2px #ffffff,
				  1px -1px 0 #ffffff,
				  -1px -1px 0 #ffffff;
}

.coffeButtonStyle {
    height: 60px !important;
    width: 217px !important;
    display: flex;
    background-color: #007bff;
    border-radius: 16px;
}

.coffeButtonStyle:hover {
    text-decoration: none;
}

.coffeButtonText {
    margin: auto;
    color: #ffffff;
    font-family: 'GoodTime';
}

.imageContainer {
    display: grid;
}

.profileImageBox {
    width: 200px;
    height: 200px;
    margin-top: 32px;
    margin-bottom: 32px;
    border-radius: 100px;
    background-color: white;
    display: flex;
    overflow: hidden;

    transition: transform 0.6s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.profileImageBox:hover {
    border: dotted;
}

.profileImageBox.flip {
    border: none;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.profileImage {
    width: 200px; 
    height: 200px; 
    margin-left: 50%;
    transform: translateX(-50%);
}
